<table align="center" cellspacing="0" cellpadding="0" border="0" class="container">
    <tr>
        <td class="content">
            <h1>Иван Иванович, здравствуйте.!</h1>
            <p>Клиника офтальмольмохирургии ценит ваше доверие и поэтому мы решили быть Вам полезны, присылая предложения только для своих.</p>
        </td>
    </tr>
    <tr>
    	<td>
    		<table align="center" cellspacing="0" cellpadding="0" border="0" class="inner">
    			<tr>
    				<td>
    					<img src="http://mcprof.ru/images/mail/top-photo.jpg" alt="">
    				</td>
    			</tr>
    			<tr>
    				<td style="padding: 30px 0">
    					<table class="descr" align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
    						<tr>
    							<td class="descr-title">Продолжительность акции:</td>
    							<td rowspan="2" class="descr-price">Скидка 50%</td>
    						</tr>
    						<tr>
    							<td class="descr-date">
									с 15 декабря 2017 по 15 января 2018
								</td>
    						</tr>
    					</table>
                    </td>
                </tr>
                <tr>
                    <td>
    					<table align="center" cellspacing="0" cellpadding="0" border="0" width="100%" class="text">
    						<tr>
    							<td colspan="2" style="padding: 30px 30px 15px">
    								<p>Предлагаем Вам или Вашим близким пройти полное офтальмологисеское обследование со скидкой 50%. <a href="#">Подробнее тут</a></p>
    							</td>
    						</tr>
    						<tr>
    							<td style="padding: 10px 30px 30px">
    								<a href="#">
    									<img src="http://mcprof.ru/images/mail/order.jpg" alt="">
    								</a>
    							</td>
    							<td style="padding: 10px 30px 30px">
    								<a href="#">
    									<img src="http://mcprof.ru/images/mail/question.jpg" alt="">
    								</a>
    							</td>
    						</tr>
    					</table>
    				</td>
    			</tr>
    		</table>
    		<table align="center" cellspacing="0" cellpadding="0" border="0" class="footer">
				<tr>
					<td>
						<img src="http://mcprof.ru/images/mail/photo.jpg" alt="">
					</td>
					<td class="greet">
						<h2>Поздравляем Вас с Новым Годом!</h2>
						<p>Благодарим за ваше внимание у нашей работе, желаем чтобы Ваш дом был полной чашей, а жизнь приносила радость и удовольствие, новых встреч, добрых друзей и крепкого здоровья!</p>
						<mark>С уважением, зам главного врача 
						Клиника офтальмольмозирургии Профессорская плюс
						Богачев Александр Евгеньевич</mark>
					</td>
				</tr>
    		</table>
    	</td>
    </tr>
</table>	