<table align="center" cellspacing="0" cellpadding="0" border="0" class="container">
    <tr>
        <td class="">
            <table cellspacing="0" cellpadding="0" border="0" class="footer">
                <tr>
                    <td class="">
                        <p>г. Екатеринбург,<br>
                        ул.Вайнера, 15,<br>
                        ул. Московская 56/2</p>
                    </td>
                    <td>
                        <p>+7 (343) 214-80-00,<br>
                        +7 (343) 286-20-00<br>
                        info@mcprof.ru</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Режим работы: пн-пт: 8:00-20:00; сб: 9:00-17:00; вс: выходной</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">www.mcprof.ru</a></td>
                    <td><a href="#" class="unsubscribe">отписаться от рассылки</a></td>
                </tr>
            </table>

        </td>
    </tr>
</table>